# Pandas and Excel

Microsoft Excel is a spreadsheet software, containing data in tabular form. Entries of the data are located in cells, with numbered rows and letter labeled columns. Excel is wide spread across industries and has been around for over thirty years. It often is people's first introduction to data analysis.

Most users feel at home using a GUI to operate Excel and no programming is necessary for the most commonly used features of Excel. The data is presented right in front of the user and it is easy to scroll around through the spreadsheet. Making plots from the data only involves highlighting cells in the spreadsheet and a few clicks.

There are various short comings with Excel. It is closed source and not free. There are free open-source alternatives like OpenOffice and LibreOffice, but there might be compatibility issues between file formats, especially for complex spreadsheets. Excel becomes unstable for files reaching 500 MB and program unresponsiveness and crashing hurt productivity. Collaborations can become difficult because it is hard to inspect the spread sheet and understand how certain values are calculated/populated. It is hard to understand the users thought process and work flow used to arrive at the analysis

The functionality of the spreadsheet is sensitive to the layout and moving entries around can have disastrous effects. Tasks like data cleaning, munging, treating different data types and missing data often difficult and requires manually labor. Finally, the user is limited to the built-in functionality of the program. In short, Excel is great for certain tasks but becomes unwieldy and efficient as the task becomes more complicated

The Python library pandas is a great alternative to Excel, providing much of the same functionality and more. Pandas is great for data manipulation, cleaning, analysis, and exploration; additionally, these tasks can be easily automated and reapplied to different datasets. It is built on top of another Python library, NumPy which offers fast and efficient numerical computations. Unlike Excel, it is open-source and free.

Some people may be intimidated to use Python and pandas because they will have to move away from the point-and-click GUI approach of Excel, it is possible to get up and running with pandas. Knowing pandas is a great introduction to more powerful and complex data analysis. This article explores how do to some common Excel tasks in pandas, helping people get their feet wet into one of most powerful Python libraries and a key library in data scientist computational stack.

## Quick Introduction to pandas

The equivalent to an Excel spreadsheet in pandas is the `DataFrame` class. It looks like a spreadsheet, with columns, indices, and values at certain indices. For this article, we will exam a case of three spreadsheets, with the first two containing information on a students exam score for a particular exam and the final spreadsheet contains the information on which section the students belongs to. These `DataFrames` are loaded into memory from CSV using the `read_csv` function.

In [21]:
# import pandas library
import pandas as pd

# create pandas DataFrame from CSV
exam_one = pd.read_csv('csv/exam_one.csv')
exam_two = pd.read_csv('csv/exam_two.csv')
sections = pd.read_csv('csv/sections.csv')

# print the top five entires of the DataFrame
exam_two.head()

       Student Name  Exam 2 Score
0  Cecilia Richards            73
1    Dorothy Harris            75
2      Edwin Duncan            33
3       Steve Hayes            42
4      Jordan Davis            81

Columns can be indiviudally selected simply by referring to them by name.

In [22]:
exam_one['Student Name']

0        Edwin Duncan
1         Steve Hayes
2    Cecilia Richards
3      Dorothy Harris
4        Jordan Davis
Name: Student Name, dtype: object

In [23]:
exam_two.columns

Index([u'Student Name', u'Exam 2 Score'], dtype='object')

## Vlookup

Experienced Excel users rely on Vlookup, a built-in function that searches (looks up) a specified value in one column and returns the corresponding value of another column. For our example of exam scores, we would like to take a student's second exam score and include it into the table of first exam score. The column of student names may not be in the same order, e.g., the first name in one table may not correpsond to the first name in another table.

A Vlookup can be done in pandas using the `merge` method of a DataFrame. The `merge` method takes the second `DataFrame` and the `on` keyword specifies column name to perform that matching on. The result is a new `DataFrame` with both exam scores.

In [24]:
exam_one.merge(exam_two, on='Student Name')

       Student Name   Exam 1 Score  Exam 2 Score
0      Edwin Duncan             83            33
1       Steve Hayes             69            42
2  Cecilia Richards             91            73
3    Dorothy Harris             53            75
4      Jordan Davis             76            81

## Pivot Tables

Pivot tables are another useful tool in Excel. It allows users to perform data aggregation